<div class="container-fluid">
    <div class="row">
        <div class="col ml-3 my-auto px-5">
            <h2 class="text-center mb-3"><strong>!Tenemos lo que necesitas!</strong></h2>
            <p class="lead">
                Creemos que el desarrollo de la tecnología ha hecho más fácil la forma de hacer negocios.

                Nuestra visión es construir la infraestructura digital de la industria de servicios del futuro 
                y lograr cambios pequeños y los más hermosos en el mundo.
            </p><br>
            <p class="lead">No perseguimos lo grande, no perseguimos lo fuerte, si no la búsqueda de un crecimiento 
                saludable en nuestro país.
            </p><br>
            <button class="btn bg-color rounded-pill px-5" type="button">
                Saber mas
            </button>
        </div>
        <div class="col mr-auto">
            <img src="../assets/images/fondo.png" style="height: 628px; width: 647px;" class="mb-3">
        </div>
    </div>

    <div class="row bg-light">
        <div class="col mr-auto">
            <img src="../assets/images/servicios.png" style="height: 400px;" class="mb-5">
        </div>
        <div class="col ml-3 my-auto pr-4">
            <h2 class="text-center mb-4"><strong>Servicios</strong></h2>
            <div class="row">
                <p  class="lead">Alta visibilidad. Tus proyectos estarán 
                expuestos a más de 60 mil candidatos 
                que nos visitan diariamente.</p>            
                <p  class="lead">Optimice su tiempo. Administre sus aplicantes a través 
                de nuestro sistema de aplicación.</p>  
                <p  class="lead">Alto nivel de segmentación 
                y extensa variedad de proyectos.</p>            
                <p  class="lead">La mejor herramienta 
                de busqueda con una interfaz amigable.</p>  
            </div>
            <div class="row mx-auto" >
                <button class="btn mx-auto bg-color rounded-pill px-5 mt-4" type="button">
                    Saber mas
                </button>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col">
            <img src="../assets/images/contacto.jpg" style="height: 430px;" class="mb-3 ml-4">
        </div>
        <div class="col ml-3 my-auto pr-4">
            <h2 class="text-center mb-5"><strong>Contactanos</strong></h2>
            <p class="lead">
                Col. Villa Olímpica, Tegucigalpa MDC, Honduras, Centroamérica  
            </p>
            <p  class="lead">
                info@pumaprojects.io
            </p>
            <p  class="lead">2221-4132, 2221-7374, 2221-6362</p>
            <p  class="lead">
                Si tienes alguna consulta no dudes en contactarnos, sera un placer atenderte.
            </p>
        </div>
    </div>

</div>
