<div class="container-fluid">
    <div class="text-center">
        <h1>Aqui encontraras los proyectos disponibles</h1>
    </div>
    <div class="row mt-5">
        <div class="col-4">
          <div class="card">
            <img src="../assets/images/fondo.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Postularme</a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <img src="../assets/images/fondo.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Postularme</a>
            </div>
          </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="../assets/images/fondo.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Postularme</a>
              </div>
            </div>
          </div>
      </div>

     
        <div class="row my-5">
            <div class="col-4">
              <div class="card">
                <img src="../assets/images/fondo.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Postularme</a>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <img src="../assets/images/fondo.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Postularme</a>
                </div>
              </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="../assets/images/fondo.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Postularme</a>
                  </div>
                </div>
              </div>
          </div>
</div>
