<div class="container-fluid">
    <div class="row mx-auto text-center" >
        <div class="col">
            <p>Universidad Nacional Autónoma de Honduras - Ciudad Universitaria</p>
        </div>
    </div>
</div>