<nav class="navbar navbar-expand-lg navbar-light mx-5">
    <a class="navbar-brand" routerLink="/">
        <img src="../assets/images/logo.png" style="height: 100px;">
    </a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link mx-5" routerLink="/servicios">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-5" routerLink="/proyectos">Proyectos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-5" routerLink="/contactanos">Contactanos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-5" routerLink="/nosotros">Nosotros</a>
      </li>
    </ul>
    <form class="form-inline">
        <button class="btn bg-color ml-5 mr-3 my-2 my-sm-0 rounded-pill" type="button">
          Registrarse
        </button>
        <button class="btn bg-color2 mr-5 my-2 my-sm-0 rounded-pill" type="button">
          Iniciar Sesion
        </button>
    </form>
</nav>